" DO NOT USE THIS FILE!
" Simply copy this file to settings/sql_connections.vim and update the file.

let g:sqh_connections = {
    \ 'default': {
    \   'user': 'root',
    \   'password': 'testing345',
    \   'host': 'localhost'
    \}
\}
